<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wishlist">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Interface.Create_wislist"></activity>
        <activity android:name=".Backend.wishlist_intermediate" />
        <activity android:name=".Interface.Wishes" />
        <activity android:name=".Interface.DeleteAccount" />
        <activity android:name=".Backend.MyAdapter" />
        <activity android:name=".Interface.Register_Next" />
        <activity android:name=".Interface.EditProfile" />
        <activity android:name=".Interface.Produits" />
        <activity android:name=".Interface.WishLists" />
        <activity android:name=".Interface.Friends" />
        <activity android:name=".Interface.Profile" />
        <activity android:name=".Interface.Register" />
        <activity android:name=".Interface.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Interface.Menu" />
    </application>

</manifest>